body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.Hire-me{
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#Baby-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}