body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
h1{
    font-weight: 700;
    font-size: 50px;
}

section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.Hire-me{
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
